{{ define "healthcheck" }}

{{- /*gotype: gocloud.dev/server/health/sqlhealth.Checker*/ -}}

{{ $pkg := base $.Config.Package }}
{{- with extend $ "Package" $pkg }}
        {{ template "header" . }}
{{- end }}

{{ template "import" $ }}

func (c *Client) HealthCheck() *sqlhealth.Checker {
	return sqlhealth.New(c.driver.(*sql.Driver).DB())
}
{{ end }}