{{ define "pulid" }}

{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

// prefixMap maps PULID prefixes to table names.
var prefixMap = map[pulid.ID]string{
	{{- range $node := $.Nodes }}
		{{- if $annotation := $node.Annotations.PULID }}
			"{{ $annotation.Prefix }}": {{ $node.Package }}.Table,
		{{- end }}
	{{- end }}
}

// IDToType maps a pulid.ID to the underlying table.
func IDToType(ctx context.Context, id pulid.ID) (string, error) {
  idx := strings.IndexRune(string(id), '_')
	if idx == -1 {
		return "", fmt.Errorf("IDToType: invalid id format")
	}

	prefix := id[:idx]
	typ := prefixMap[prefix]
	if typ == "" {
		return "", fmt.Errorf("IDToType: could not map prefix '%s' to a type", prefix)
	}
	return typ, nil
}

{{ end }}
